<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/images/imagen-about.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Sobre mí</h1>
            <p> Soy estudiante de Licenciatura en Sistemas, actualmente estoy cursando tercer año.
                Me gusta la programación como hobby, y espero que se convierta en mi trabajo a
                futuro ya que me encanta programar y aprender herramientas nuevas para desarrollar
                programas útiles. Comencé a programar en la pandemia haciendo cursos de 
            desarrollo web y lenguaje Java en Udemy, y luego me decidí aprender más sobre Java, que
            en la facultad me lo pidieron bastante para distintas asignaturas, haciendo de este mi fuerte,
            aunque me gusta mucho la programación web también. Entre otras cosas que me gustan están los 
            idiomas, siendo mi primer trabajo profesor de inglés en una academia en la ciudad donde vivo,
            y como dato extra podría agregar que me gusta mucho tocar la guitarra.</p>
    </div>


</div>



<!--<div id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Sobre mí</h2>
                <p>Soy Stéfano Carbajal Budón, estudiante de 3er año de Sistemas. Al momento de elegir la carrera opté por darle una
                    oportunidad a programar, y siento que al probar nuevas formas de programar y 
                    tecnologías consigo sentirme pleno y es algo que realmente me encanta. 
                </p>
            </div>
        </div>
    </div>
</div> -->