<div id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Sobre mí</h2>
                <p>Estudiante de 3er año de Sistemas. Al momento de elegir la carrera opté por darle una
                    oportunidad a programar, y siento que al probar nuevas formas de programar y 
                    tecnologías consigo sentirme pleno y es algo que realmente me encanta. 
                </p>
            </div>
            <div class="col-lg-6">
                <h2>Tecnologías</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="assets/images/html-5.png" alt="" width="100px" height="100px" >
                            <img src="assets/images/js.png" alt="" width="100px" height="100px" >
                            <img src="assets/images/git.png" alt="" width="100px" height="100px" >
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/images/css-3.png" alt="" width="100px" height="100px" >
                            <img src="assets/images/java.png" alt="" width="100px" height="100px" >
                            <img src="assets/images/git.png" alt="" width="100px" height="100px">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/images/js.png" alt="" width="100px" height="100px" >
                            <img src="assets/images/java.png" alt="" width="100px" height="100px" >
                            <img src="assets/images/git.png" alt="" width="100px" height="100px" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>