<div id="base">
    <div class="container" id="resena">
        <div class="row">
            <div class="col-lg-8">
            <p class="subt">Hola, soy</p>
            <p id="nombre">Stéfano Carbajal Budón</p>
            <p class="subt">Desarrollador Junior</p>
            <p class="subt">Estudiante de Sistemas</p>
            </div>
            <div class="col-lg-4">
                <img src="assets/images/imagen-programador.png" alt="" width="300" height="300">
            </div>
        </div>
    </div>
</div>
