<div class="container"> 
  <div class="card-group">
    <div class="card">
      <img src="assets/images/imagen-proyectoArgProg.png" class="card-img-top" alt="Portafolio web" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Portfolio Web hecho con Angular</h5>
        <p class="card-text"><small class="text-muted">Realizado entre diciembre 2022 - Mayo 2023</small></p>
        <p class="card-text">Aplicación Web hecha para el curso "Argentina Programa", donde utilicé El framework Angular, HTML,
           CSS, JavaScript, MySQL y SpringBoot para el Back-End.</p>
        <p class="card-text">Links: <br>
          <a href="https://github.com/Stefano-Kiwi/portfolio-FrontEnd">Link Repositorio Front-End</a><br/>
          <a href="https://github.com/Stefano-Kiwi/portfolio-BackEnd">Link Repositorio Back-End</a><br/>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/imagen-proyectoJAVA.png" class="card-img-top" alt="Proyecto dark souls" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Sistema de Gestión para Biblioteca UNER</h5>
        <p class="card-text"><small class="text-muted">Realizado en septiembre-octubre 2022</small></p>
        <p class="card-text">Programa orientado a realizar distintas funciones de préstamos y control de inventario en base a
          la biblioteca de la Universidad Nacional de Entre Ríos, realizado en lenguaje JAVA, para el taller 
          de la asignatura Programación Orientada a Objetos.
        </p>
        <p class="card-text">Links: <br>
          <a href="https://github.com/Stefano-Kiwi/Taller-POO-2022">Link Repositorio</a>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/imagen-proyectoDarkSouls.png" class="card-img-top" alt="Sistema de gestión de biblioteca" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Página Web sobre VideoJuego</h5>
        <p class="card-text">Una página web hecha con la temática de la famosa saga de videoJuegos "Dark Souls", donde tuve mi primer contacto 
          con la librería Bootstrap y utilicé además HTML, CSS y JavaScript. El proyecto fue realizado para el curso "Microsoft Junior Achievement".
        </p>
        <p class="card-text">Links: <br>
          <a href="https://miprimersitioweb.org.ar/proyectos/2022/saga_de_dark_souls/">Link a página web</a><br>
          <a href="#">Link Repositorio</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!--
    <div id="proyecto1">
    <h1>Portafolio Web</h1>
    <p> Portafolio web creado con HTML, CSS, JavaScript y Angular, y el BackEnd y
        base de datos con Java, SpringBoot y MySQL.
    </p>
    <button>Links a distintos repositorios:</button>
</div>
<div id="proyecto2">
    <h1>Sistema de gestión para biblioteca</h1>
    <p>Aplicación creada con Java para Taller de la asignatura Programación Orientada a Objetos
        de la Universidad Nacional de Entre Ríos.
    </p>
    <button>Imágenes</button>
    <button>Link repositorio:</button>
</div>
<div id="proyecto3">
    <h1>Página informativa sobre "Dark Souls"</h1>
    <p>Web creada con HTML, CSS y JavaScript para curso de Microsoft sobre diseño web</p>
    <button>Link:</button>
    <button>Link a repositorio:</button>
</div>
-->
