<div class="container"> 
  <div class="card-group">
    <div class="card">
      <img src="assets/images/css-3.png" class="card-img-top" alt="Portafolio web" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/git.png" class="card-img-top" alt="Proyecto dark souls" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/html-5.png" class="card-img-top" alt="Sistema de gestión de biblioteca" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Sistema de Gestión de Biblioteca</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<!--
    <div id="proyecto1">
    <h1>Portafolio Web</h1>
    <p> Portafolio web creado con HTML, CSS, JavaScript y Angular, y el BackEnd y
        base de datos con Java, SpringBoot y MySQL.
    </p>
    <button>Links a distintos repositorios:</button>
</div>
<div id="proyecto2">
    <h1>Sistema de gestión para biblioteca</h1>
    <p>Aplicación creada con Java para Taller de la asignatura Programación Orientada a Objetos
        de la Universidad Nacional de Entre Ríos.
    </p>
    <button>Imágenes</button>
    <button>Link repositorio:</button>
</div>
<div id="proyecto3">
    <h1>Página informativa sobre "Dark Souls"</h1>
    <p>Web creada con HTML, CSS y JavaScript para curso de Microsoft sobre diseño web</p>
    <button>Link:</button>
    <button>Link a repositorio:</button>
</div>
-->
