<div id="container-fluid">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h2>(Trabajo 1)</h2>
                    <p class="text-muted">Realizado entre diciembre 2022 - Mayo 2023</p></li>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, in unde. Eos similique culpa debitis, tempore,
                         vero facere reiciendis at ea iure minus magnam sunt dolorem odio sint ipsum ut.</p>
            </ul>

            <ul>
                <li>
                    <h2>(Trabajo 2)</h2>
                    <p class="text-muted">(year)</p></li>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, in unde. Eos similique culpa debitis, tempore,
                         vero facere reiciendis at ea iure minus magnam sunt dolorem odio sint ipsum ut.</p>
            </ul>

            <ul>
                <li>
                    <h2>(Trabajo 3)</h2>
                    <p class="text-muted">(year)</p></li>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, in unde. Eos similique culpa debitis, tempore,
                         vero facere reiciendis at ea iure minus magnam sunt dolorem odio sint ipsum ut.</p>
            </ul>
        </div>
    </div>
</div>
